/**
 * @Author: dylanlawless
 * @Date:   2020-01-17T16:07:41+00:00
 * @Last modified by:   dylanlawless
 * @Last modified time: 2020-03-30T12:24:26+01:00
 */


.results-dashboard{
    max-height: 580px;
    border-radius: 30px;
    /* padding-bottom: 50px; */
    padding: 0px;
    overflow: scroll;
    margin-top: 25px;

    position: relative;
      -webkit-animation-name: intro-dash; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
      animation-name: intro-dash;
      animation-duration: 0.4s;

      /* -webkit-box-shadow: 10px 10px 16px -12px rgba(130,130,130,1);
-moz-box-shadow: 10px 10px 16px -12px rgba(130,130,130,1);
box-shadow: 10px 10px 16px -12px rgba(130,130,130,1); */

}

.side-nav{

 margin: 0px;
 padding: 20px 30px;
   top: 0;
   bottom: 0;
   overflow: visible;

}
.results-nav{
    margin-top: 65px;
}
.results-nav-form{
    margin-top: 60px !important;
}

.down-arrow{
    margin-left: auto;
      margin-right: auto;
      display: block;

height: 28px;


}
.empty-message{
    font-size: 26px;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
    font-weight: 400;
}

.results-search{
    width: 540px;
    padding: 10px;
    padding-left: 20px;
    border: 1px solid #d6d6d6;
    border-radius: 30px;
    color: #525252;

}

.results-search:focus{
    outline: 0;
}

.results-logo{
    padding-top: 7px;
    float: left;
    margin-left: 30px;

}
.dashboard-logo{
    width: 20px;
    height: 27px;
    margin-top: 5px;

}
.dashboard-title{
    float: left;
    padding-top: 13px;
    padding-left: 15px;
    color: #cf3c3c;
    font-size: 18px;
    font-weight: 600;
    position: sticky;

}
.dashboard{
    padding: 0px;


}

.results-table{
    font-size: 16px;
    color: #525252;
    width: 100%;
    padding-left: 300px !important;
}
.results-div{

    border-left: 1px solid #d6d6d6;

}

.table-header{

}

th{
    padding:20px 20px !important;
    color: #525252;
        position: sticky !important;
        top: 0 !important;
        background-color: white;

}
td{
    padding:16px 16px !important;
    vertical-align: middle !important;
}
.first-row{
    padding-left:40px !important;


}
.last-td{
    width: 20% !important;
}

tbody{
    color: #707070;
    padding-left: 100px;
}
table{

}


.create-result{
    height: 550px;
    border-radius: 30px;

}
.card-footer{
    padding-top: 0px ;
    padding-bottom: 20px;
    background-color: #fff;
    margin-left: 0px;
    padding: 30px 25px;
    /* border-top: 1px solid #cf3c3c; */


}
.test-results-dashboard {
        margin-top: 40px;

}

.col-12{
    padding: 0px !important;
}
.card-button{
    margin-bottom: 20px;
bottom: 0;
    float: right;
}
.result-test-type{
    color: #cf3c3c;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0px;
}
.create-button{
    background-color: white;
    color: #707070;
    padding: 12px 24px;
    border-radius: 30px;
    border-color: #dbdbdb;
}


.create-button:hover {
    text-decoration: none;
    border-color: #525252;
    background-color: white ;
    color: #525252;
}
.results-table{
    float: right;

}
@keyframes intro-dash {
  0%   {opacity:0; left:0px; top:200px;}
  100%  {opacity: 1; left:0px; top:0px;}

}


.result-submit {
    float: right;
    padding: 15px 15px;
    border-color: #dbdbdb;
    color: #707070;
}
.result-test-title{
    float: left;
    padding-top: 20px;
    color: #cf3c3c;
    font-weight: 600;
}
.result-modal{
    width: 100% !important;
    border-radius: 30px !important;
    margin-left: 0px!important;
}

.cancel-modal{
    background-color: white;
    color: #707070;
    padding: 12px 24px;
    border-radius: 30px;
    border-color: white;
}
.cancel-modal:hover{
    border-color: white;
    background-color: white;
    color: #525252;
    float: left !important;
}

.modal-content{

    margin: 0 auto !important;

}
.results-chart{
    margin-top: 10px;
    margin-right: 40px !important;
}
.y-label{

}

.dashboard-nav{
    margin-top: 80px;

}

.side-nav-link{

    width: auto;
    margin-bottom: 3px;
    color: #707070;
    border-bottom: 2px solid transparent;

}
.sortby-form{
    float: right;
}
a.side-nav-link:hover {
    text-decoration: none;
    color: #525252;
    /* border-bottom: 2px solid #525252; */


}



.link-div{
        border-bottom: 2px solid transparent;
     display:inline-block;
     padding-bottom: 2px;
     transition:color .2s, border-bottom .2s ease-in-out;
     color: #a6a6a6;
}

.link-div:hover{
        border-bottom: 2px solid #525252;

        color: #525252;
}
